div.titlebar_background
{
	background-color: #3A5795;
	height:	82px;
	margin: -8px;

    border-width: 1px;
    border-bottom-width: 1px;
    border-bottom-color: #253961;
    border-bottom-style: solid;
}

div.in_titlebar
{
	padding-top: 30px;
	display: table;
    margin: 0 auto;
}

form.connexion
{
	float: right;
	display: inline;
	color: #FFFFFF;
	margin-top: -25px;
}

form.logout
{
    float: right;
    display: inline;
    color: #FFFFFF;
}

img.logo
{
	margin-top:-40px;
	padding-right: 300px;
}

label.label_connexion
{
	color: #FFF;
	font-weight: normal;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

input.input_connexion
{
	border-color: #1D2A5B;
	border-width: 1px;
	width: 142px;
	margin-right: 30px;
	height : 20px;
}

input.button
{
	background-image: url("/rsrc.php/v2/yt/r/-C19xAsFoyr.png");
background-repeat: no-repeat;
background-size: auto auto;
background-position: 0px -49px;
background-color: #5B74A8;
border-color: #2F477A #29447E #1A356E;

cursor: pointer;
display: inline-block;
font-size: 11px;
font-weight: bold;
line-height: 13px;
padding: 2px 6px;
text-align: center;
text-decoration: none;
vertical-align: top;
white-space: nowrap;
color:white;
border-width: 1px;
border-color: black;
}

div.after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAFElEQVQIHWOQM8q8zcDKKSzHAAcAHWQB1AViXrsAAAAASUVORK5CYII=");
    background-repeat: repeat-x;
    background-size: auto auto;
    background-position: 0px 0px;
    bottom: 0px;
    content: "";
    height: 9px;
    left: 0px;
    right: 0px;
	margin-top: 7px; margin-left: -8px; margin-right: -8px;
}

body.gradient
{
    background: linear-gradient(#FFF, #D3D8E8) no-repeat scroll 0% 0% transparent;
    background-color: #D3D8E8;
}

body
{
    background-color: #D3D8E8;
	font-family: Verdana, Arial;
}

#peterbookTitle
{
    font-weight: bold;
    font-style: italic;
}